:root {
  --primary-color: #6C63FF;
  --secondary-color: #272142;
  --heading-font: "Playfair Display";
  --default-font: "Poppins";
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
  font-family: var(--heading-font);
  font-weight: bold;

}
h4{
  font-size: 48px;
}
p {
  margin: 30px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
;
 

}

nav li {
  display: inline;
  list-style: none;
  line-height: 60px;
  margin-left: 15px;
  font-family: var(--default-font);
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 150m ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
}

.logo-img {
  width: 180px;
}

.project-description {
  font-family: var(--default-font);
  font-size: 16px;
  font-weight: 400;
  padding: 100px 40px;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background-color: #F9F7FE;
  line-height: 2;
}

.hero h2 {
  font-family: var(--default-font);
  font-weight: normal;
  font-size: 24px;
  color: var(--secondary-color);
  line-height: 2;
}

.hero p {
  font-family: var(--default-font);
  font-weight: bold;
  font-size: 36px;
  color: var(--secondary-color);
}

.content-container {
  padding: 90px 20px;
}

.content {
  margin: 30px;

}

.content-container h1 {
  font-size: 64px;
  font-family: var(--heading-font);
  font-weight: bold;
  line-height: 80px;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font);
  line-height: 27px;
  font-weight: 700;
  margin: 25px 0;

}

.content-container h3 {
  font-size: 24px;
  font-family: var(--default-font);
  font-weight: bold;
  line-height: 1;
}

.content-container p {
  font-size: 14px;
  font-family: var(--default-font);
  margin: 0;
}

.btn-branding {
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  padding: 18px 30px;
  font-size: 18px;
}


.btn-branding-outline {
  color: var(--primary-color);
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  padding: 18px 30px;
  font-size: 18px;
  line-height: 27px;
}

.contact-container {
  line-height: 2.5;
  text-align: left;
  margin: 0 60px;
}

.email-link {
  text-decoration: none;
  color: black;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.email-link:hover {
  color: var(--primary-color);
}
.social-link a{
  margin: 0 20px;
  color: var(--primary-color);
  background-color: #F9F7FE;
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
.social-link a:hover{
  color: white;
  background-color: var(--primary-color);
}
.contact-box{
  background-color: #F9F7FE;
  margin: 30px;
  padding: 20px 120px;
}
@media(max-width:900px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 35px;
  }

  nav {
    text-align: center;
  }

  .hero {
    padding: 60px 90px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-container {
    text-align: center;
  }

  .content-container h1 {
    font-size: 50px;
  }

}