:root{
    --primary-color:#6C63FF;
    --secondary-color:#272142;
    --heading-font: "Playfair Display";
    --default-font: "Poppins";
}
h1{
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
}
p{
    margin: 40px;
}
.project-description{
    font-family: var(--default-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.hero {
  text-align: center;
  padding: 150px 200px;
  background-color: #F9F7FE;
  line-height: 2;
}
.hero h2 {
  font-family: var(--default-font);
  font-weight: normal;
  font-size: 24px;
  color: var(--secondary-color);
  line-height: 2;
}
.hero p {
  font-family:var(--default-font);
  font-weight: bold;
  font-size: 36px;
  color: var(--secondary-color);
  margin: 0;
}
.btn-branding{
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    padding: 18px 30px;
    font-size: 18px;
}
h2{font-size: 64px;
    font-family: var(--heading-font);
    font-weight: bold;

}
.btn-branding-outline{
   color:var(--primary-color);
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    padding: 18px 30px;
    font-size: 18px; 
    line-height: 27px;
}
